* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
}

#thanks {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: auto;
  margin: 0;
  background-image: url("../images/lxrcbsv-OksP20g6jJQ-unsplash.jpg");
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* img {
  width: 100vw;
  height: 100vh;
  position: relative;
} */

#text {
  text-align: center;
  color: aliceblue;
}

#text h3:hover {
  transform: scale(1.2);
}

#text a {
  color: lightskyblue;
}

#text a:hover {
  color: rgb(189, 246, 246);
}
